#canvas-container1{
    width: 100%;
    height: calc(100% - 75px);
    background-color: rgb(243, 234, 234);
    z-index: 1;
}


.tituloObjecto{
    div{
        position: absolute;
        h1{
            background-color: #00000088;
            padding: 15px;
            border-radius: 30px;
            color: rgb(255, 255, 255);
            text-shadow: rgb(255, 187, 0) 0 0 5px;
            user-select: none;
            white-space: nowrap;
        }
    }
}

@media (max-width: 500px)
{
    #canvas-container1{
        width: 100%;
        height: calc(100% - 60px);
    }
}